/* padding and width reset */
* {
  box-sizing: border-box;
}
/* body */
body {
  background: #f6f6f6;
  padding-bottom: 30px;
  padding-top: 30px;
}
/* calculator css */
.calculator {
  max-width: 400px;
  /* center in browser */
  margin: 0 auto;
  border: 2px solid #111;
  /* rounded corners */
  border-radius: 5px;
}

/* input box css */
.calculator-input {
  /* reset html default styling */
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  border-bottom: 2px solid #111;
  padding: 20px;
  text-align: right;
  font-size: 40px;
}
